body{
  color: #fff;
  font-family: 'Nunito Semibold';
  text-align: center;
}
#content{
  display: grid;
  /* membuat 3 kolom dengan ukuran 30% 20% dan 50% */
  /* grid-template-columns: 30% 20% 50%; */

  /* 1fr sama dengan flex 1 jika 2fr atau fraksi maka ukurannya dua kali lipat dari yg lain */
  /* grid-template-columns: 1fr 2fr 2fr; */

  /* cara singkat untuk membuat 3 atau lebih kolom dengan ukurannya yg sama */
  grid-template-columns: repeat(3, 1fr);
  
  max-width: 960px;
  margin: 0 auto;
}
#content div{
  background: #3bbced;
  padding: 30px;
}
#content div:nth-child(even){
  background: #777;
}